/* .NavBar {
    width: 100%;
    background: black;
    opacity: 0.75;
    color: white;
    display: flex;
    flex-direction: row; */
    /* fix the navbar to the top */
    /* position: fixed;
    top: 0; */
/* } */


/* .container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
} */

/* .container .logo {
    justify-content: left;
    width: fit-content;
} */

.active {
    background-color: #ff091e;
}

.navBar {
    /* height: 60px; */
    height: 6rem;
    width: 100%;
    padding-top: 1rem;
    background-color: rgb(10, 4, 37);
    /* opacity: 0.75; */
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
}

.navBar .title{
    font-weight: bold;
    text-decoration: none;
    color: white;
}

.navBar .title img {
    font-size: 1.5rem;
    margin: 1rem;
}

.navBar ul {
    display: flex;
}

.navBar ul li {
    list-style: none;
}

.navBar ul li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 0.5rem;
    margin: 0 0.5rem;
    border-radius: 0.5rem;
}

.navBar ul li a:not(.active):hover {
    background-color : #ff3a4b;
}

img {
    object-fit: contain;
    height: 50px;
    max-width: 100%;
    max-height: 100%;
    display: inline;
    padding-bottom: 5px;
}

/* .logo {
    margin-right: auto;
} */

/* .nav-elements {

} */

/* .nav-elements ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.nav-elements ul li:not(:last-child) {
    margin-right: 20px;
}

.nav-elements ul a {
    font-size: 16px;
    font-weight: 400;
    color: white;
    text-decoration: none;
}

.nav-elements ul a.active {
    color: #574c4c;
    font-weight: 500;
    position: relative;
}

.nav-elements ul a.active::after {
    content: '';
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 100%;
    height: 2px;
} */